<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.QuanLyTruongHocConnectionString"
            connectionString="Data Source=DESKTOP-OF993PT\SQLEXPRESS;Initial Catalog=QuanLyTruongHoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
